
body {
    background-color: white;
    font-family: "Lexend", sans-serif;
}


h1, .header {
    font-family: "Google Sans Code", monospace;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    font-style: normal;
}

/* NAVIGATION BAR */

.navigation-bar {
    padding: 10px;
}

.navbar-main {
    padding: 20px 100px;
}
.collapse {
    margin-left: 7px;
}

.navbar-brand {
    font-size: 25px;
}

.main1 {
    font-size: small;
    
}

.subj {
    padding-left: 20px;
    display: grid;
}

.active {
    font-size: 20px;
}

.parent {
    margin: 50px 100px;
    text-align: center;
} 

/* CAROUSEL */

.carousel {
    margin: 50px 0;
}

.carousel-text {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900px;
    font-size: 50px;
    text-align: center;
}

.img {
    border-radius: 100px;
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
}

.carousel-item {
    padding: 30px 150px;
    align-items: center;
    text-align: center;
}


/* COURSE BUTTON */

.course-btn {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 10px 30px;
}

.card-title {
    font-size: 20px;
}


#yon {
    text-align: center;
}
.course {
    background-color: red;
    padding: 10px;
    margin: 10px;
}

.btn {
    padding: 10px 10px;
    margin: 30px;
}

.btn-main1 {
    padding: 10px 50px;
    margin: 30px;
}

/* FOOTER */

#footer {
    padding-top: 3rem;
}

.social {
    text-align: center;
    padding-bottom: 10px;
}

.fa-brands {
    padding: 10px;
}

.fa-solid {
    padding-right: 5px;
}

.text-center {
    padding-top: 15px;
}

/* MATHS CSS */

.check-btn {
    margin: 20px;
}
.mother {
    padding: 20px;
}

@media (width: 381px) {
    .check-btn {
        margin: auto;
    }

    .parent {
        margin: 0;
    } 

    .download-card {
        padding: auto;
        width: auto;
    }
}


/* MEDIA QUERY FOR INDEX.HTML */

@media (max-width: 900px) {

    .carousel-text{
        font-size: 40px;
    }

    .navbar-main {
        padding: 0;
    }

    .parent {
        margin: 0;
    } 

    /* .navbar-main {
        padding: 0;
    } */

    .carousel-item {
        padding: 30px 15px;
        align-items: center;
        text-align: center;
    }

    .course-btn {
        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        text-align: center;
    }

    .btn-outline-success {
        background-color: #198754;
        color: white;
    }
}